.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

  .voicelist {
    padding: 15px 5px;
    font-size: 13px;
  
}
.form-control {
  display: block;
  width: 100%;
  padding: 0px 0px !important;
}
.List{
  display: inline-block;
  border: 1px solid #ddd;
  font-size: 11px;
  margin: 4px;
  padding: 2px;
}
.List1{
  display: inline-block;
  font-size: 22px;
  margin: 3px;
  padding: 2px;
  color: #0177d3;
}
.namedisplay{
  display: inline-block;
  font-size: 14px;
  margin: 5px;
  padding: 2px;
  color: #0177d3;
}
.col-ply{
  color: #0177d3;
  font-size: 12px;
}
.user{
  float: right;
}
.App-link {
  color: #61dafb;
}
.languagechoose{
  width: 100%;
  font-size: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ln_stack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color:rgb(253 253 253 / 0%);
  box-shadow: 1px 1px 4px 1px #ebebeb;
}
.ln_stack .listing {
  width: 100%;
}
.ln_stack .blocks {
  display: block;
  float: left;
  cursor: pointer;
  padding: 0.6rem 0.25rem 0px;
  width: 22.5%;
  overflow: hidden;
  text-align: center; 

}
.lisdata{
  background: rgb(25 118 210 / 12%);
 
}
.checked{
  display: none;
}
.ln_stack .blocks .text {
  font-size: 12px;
    width: 64px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ln_stack .blocks .MuiCheckbox-root {
  background: rgb(0, 120, 212);
  color: #ffffff;
  padding: 10px 15px;
}
hr:not([size]) {
  height: 1px;
  width: 100%;
  margin: 0px;
}
#textid {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 30px 0px;
  overflow-y: scroll;
}

.rate{
  border-bottom: 2px solid #d29203;
    padding-bottom: 5px;
}
.rhap_stacked .rhap_controls-section {
  margin-top: 8px;
  max-width: 10%;
}
.rhap_progress-section {

  max-width: 90%;
}
.rhap_additional-controls {
  display: none!important;

}
.rhap_main {

  flex-direction: row-reverse !important;

}
.rhap_volume-controls {
  display: none!important;

}
.rhap_main-controls-button {

  color: #0177d3!important;
 
}
.rhap_progress-indicator {

  background: #0376d2!important;

  box-shadow: rgb(5 117 209) 0 0 5px!important;
}
.rhap_progress-filled {

  background-color: #0376d2!important;

  border-radius: 2px;
}
.btnplay{
  border: 1px solid #0376d2;
  position: absolute;
  margin-left: 21px;
  margin-top: 21px;
  z-index: 999999;
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 0%)!important;
  padding: 16px;
  border-radius: 40px;
}
.css-i4bv87-MuiSvgIcon-root {

  color: #0376d2;
}
.blocks .fa {
  color: #f8f8f8 !important;
}
.fa {
  color: #0376d2;
}
.voiceclass{
  color: #0376d2;
}
.Pause{
  color: #851372;
}
.spinner-audio{
  position: absolute;
  margin-left: 18px;
  margin-top: 19px;
  z-index: 999999;
  padding: 16px;
 
}
.dropdown-menu {
  z-index: 99999999;
}
.overdata{
  height: 100px;
    overflow-y: scroll;
}
  
  .hidden{
  display:none;
  }
  .opan{
  display:block !important;
  }
  div#textid div:before {
    display: inline-block;
    position: relative;
    font-size: .75rem;
    text-align: center;
    line-height: 1;
    z-index: 1;
    counter-increment: line;
    content: counter(line) ". ";
    font-weight: 600;
    color: #0376d2;
    
}
.rhap_rewind-button ,.rhap_forward-button{
  display: none;
}
div#textid {
    content: counter(line-number);
    counter-reset: line;
}
.bold{
  color:#0376d2;
  font-weight:600;
}

voice.voiceclass:before {
  content: attr(data-content);
  font-size: .75rem;
  font-weight: bold;
 
}
div#textid div voice {
  padding-left: 40px;
}

div#textid div {
  padding: 28px 10px;
}
.text-node{
  color: #000;
}

span.voiceclass:before {
  content: attr(data-content);
}
.voiceclass span:before {
  content: attr(data-content);
  color:#0376d2;
  font-weight:600;
  padding: 0px 0px;
  font-size: 14px;
}
.voiceclass break:before {
  content: attr(data-name);
  color:#0376d2;
  font-weight:600;
  padding: 0px 0px;
  font-size: 14px;
}
.span prosody:after {
  content: attr(back-data);
  color:#0376d2;
  font-weight:600;
  padding: 0px 0px;
  font-size: 14px;
}
.voiceclass prosody:after {
  content: attr(back-data);
  color:#0376d2;
  font-weight:600;
  padding: 0px 0px;
  font-size: 14px;
}
.voiceclass .text-node::after {
  content: attr(last-data);
  color:#0376d2;
  font-weight:600;
  padding: 0px 0px;
  font-size: 14px;
}

div#textid div span.text-node {
  padding-left: 17px;
  float: right;
  width: 70%;
  text-align: justify;
}
div#textid div {
  padding-left: 9px;
  margin-bottom: 40px;
      clear: both;
}
s{
  text-decoration-line: none !important;
}

/*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/
input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
  padding-left: 2px;
}

.inputWithIcon {
  position: relative;
}



.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}
.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  margin-top: 9px;
}

.inputWithIcon i {
  position: absolute;
  right: 1px;
  padding: 5px 4px;
  color: #aaa;
  transition: 0.3s;
}


.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root {
  width: 90% !important;
  float: left;
}
.css-e0yuwi {
  width: 90% !important;
  float: left;
}
.eraser{
  width: 5%;
  float: left;
  padding: 7px 0px;
}
.Recording_text{
  height: 639px;
overflow-y: scroll;
}
.voiceclass .node-text::after {
  content: attr('');
  color: #0376d2;
  font-weight: 600;
  padding: 0px 0px;
  font-size: 14px;
}
.dropdown-toggle::after {
  display: none !important;

}
#player
{
 background-color:#084B8A;
 width:400px;
 margin-left:300px;
 padding:5px;
 box-sizing:border-box;
}
input[type="image"]
{
 float:left;
 height:20px;
 margin-left:2px;
 margin-right:5px;
 margin-top:2px;
}
#vol_img
{
 margin-left:150px;
 width:20px;
}
/* div#textid voice:before {
  content: attr(data-content);
  display: inline-block;
  position: relative;
  font-size: .75rem;
  text-align: center;
  line-height: 1;
  z-index: 1;
  font-weight: 600;
  color: #0376d2;
} */